@model Forest.Data.Music_Recording

@{
    ViewBag.Title = "DeleteMusicRecording";
}

<h2>DeleteMusicRecording</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Music_Recording</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Tracks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Tracks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock_Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock_Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Released)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Released)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
